body {
  /*background: linear-gradient(#42B9C2, #208686);*/
  background: #EFF2F2;
  font-family: 'Montserrat';
  font-size: 11px;
  font-weight: 300;
}

html{
  height: 100%;
}

.header {
  color: #222;
  padding: 20px 0 10px 0;
}

.container {
  min-width: 375px;
  text-align: center;
}

.questions-container {
  border-radius: 5px;
  background-color:#fff;
  padding: 5px;
}

.logodefault .logo{
  height: 50px;
  width: 50px;
  display: block;
  background: url('./svg/logowhite.svg');
  margin: 0 auto;
}

.logocolor .logo {
  height: 50px;
  width: 50px;
  display: block;
  background: url('./svg/logo.svg');
  margin: 0 auto;
}

.logo {
  height: 50px;
}

.quiz-title {
  margin: 40px 0 0 0;
}

.quiz-intro {
  font-size: large;
}

/* Styles from YGY UI Library */

h1,h2,h3,h4,h5 {
  font-family: 'Montserrat';
  color: #404040;
  margin:0;
  text-transform: uppercase
}

h1{
  font-size: 30px;
}

h2 {
  font-size: 28px;
  text-transform: initial;
}

h3{
  font-size: 18px;
  line-height: 20px;
}

h4 {
  font-size: 11px;
  font-weight: 500;
  margin: 10px 0;
  letter-spacing: 2px;
}

h5{
  font-size: 13px;
  font-weight: 500;
  color: #464646;
}

.large-headline{
  font-weight: 900;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 50px;
}

.large-headline-2 {
  font-weight:300;
  font-size: 45px;
}

.button {
  background: #EA6534;
  color: #fff;
  border-radius: 0;
  width: 100%;
  height: 55px;
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.button:focus,
.button:active {outline:0!important;}

.btn.focus, .btn:focus, .btn:hover {
  color: #fff;
  background: #EA6534;
}

/* End styles from YGY UI Library */

/* Get Started View Styles */

.company-products {
  display: flex;
  margin: 30px 0px;
}

.product-image {
  display: flex;
  align-items: center;
}

.product-copy {
  text-align: left;
  padding: 0 30px;
}

.rounded {
  border-radius: 100%;
}

.sub-container{
  width: 78%;
  margin: 130px auto;
}

.disclaimer {
  font-style: italic;
  color: #666666;
  width: 100%;
  margin: 20px 0px 130px auto;
  padding: 0 8px;
}

/* Splash Screen Styles */
.splashScreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.splashIcon {
  width:122.22px;
}

.splashText {
  font-size:28px;
  font-family: 'Montserrat';
  font-weight: 500;
  color:#fff;
}

.sub-container.splash {
  width: 84%;
}

/* End splash screen styles */


/* Set Body Background image and styles for each component */

.background-start-screen {
  background: 
    url('./images/homescreenbgbig.png') no-repeat 162px 540px, 
    url('./images/homescreenbg1small.png') no-repeat 360px center, 
    url('./images/homescreenbg2small.png') no-repeat -27px 120px, 
    linear-gradient(#42B9C2, #208686);
}

.background-nameform-screen{
  background:
    url('./images/nameformbglarge.png') no-repeat right bottom,
    url('./images/nameformbgsmall.png') no-repeat left top,
    linear-gradient(#EFF2F2,#EFF2F2);
}

.background-joint-screen {
  background: url('./images/splashjointsbg.png') no-repeat 220px bottom,
  linear-gradient(#EF8137, #EC6529);
}

.background-meta-screen {
  background: url('./images/splashjointsbg.png') no-repeat 220px bottom,
  linear-gradient(#40C2CD, #137F7F);
}

.background-enter-name-screen, {
  background: linear-gradient(#EF8137,#EC6529);
}

.background-name-category-screen, {
  background: #EFF2F2;
}

.background-splash-screen-joints {
  background: #EFF2F2;
}

/* End set Body Background */


/* Nameform Styles */
.nameForm {
  background: #fff;
  padding: 5px 0;
  border-radius: 6px;
}
/* End Nameform Styles */

/* List view styles */

.progress-categories-list{ margin: 50px 0; }

.list-view-text{
  font-size: 20px;
  font-weight: 500;
  padding: 20px 50px;
  line-height: 24px;
}

.overview-list-item {
  font-size: 17px;
  font-weight: 200;
  width: 72%;
  margin: 0 auto;
  text-align: left;
  font-weight: 300;
}

ol.overview-list {
  margin:0 0 1.5em;
  padding:0;
  counter-reset:item;
}
 
ol.overview-list>li.overview-list-item {
  padding:15px 0 0 3em;
  text-indent:-2em;
  list-style-type:none;
  counter-increment:item;
}
 
ol.overview-list>li.overview-list-item:before {
  display:inline-block;
  padding-right: .4em;
  color:#fff;
  text-align:right;
  content:counter(item) "";
  font-weight: 200;
}


li.overview-list-item:before {
  content: '';
  display: inline-block;
  height: 25px;
  width: 25px;
  position: relative;
  left: -23px;
  top: 0;
  z-index: -1;
  background: #EC6529;
  border-radius: 100%;
}

/* End view styles */

/* Quiz Questions Styles */

.questions{
  background: #fff;
  border-radius: 10px;
  padding: 0px 0 70px 0;
}

.questionsContainer {
    margin: 30px 0;
    padding: 20px 35px 0 35px;
}

.questionsContainer p {
  font-size: 12px;
}

.question {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fact {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 10px 0 0 0;
}

.answersList{ 
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0 20px;
  padding:0;
}

.answersList a {
  text-decoration: none;
  text-transform: uppercase;
  color: #707070;
  font-weight: 500;
  font-size: 10px;
}

.answer{ 
  width: 44px;
  height: 44px;
  transition: .32s all ease-in-out;
}

.answer li {
  margin: 60px 0 0 0;
  
}

.really.poor {
  background: url('./svg/reallypoor.svg');
  
}
.really.poor.over {
  background: url('./svg/reallypoor-over.svg');
}
.poor {
  background: url('./svg/poor.svg');
}
.poor.over {
  background: url('./svg/poor-over.svg');
}
.fair {
  background: url('./svg/fair.svg');
}
.fair.over {
  background: url('./svg/fair-over.svg');
}
.good {
  background: url('./svg/good.svg');
} 
.good.over {
  background: url('./svg/good-over.svg');
} 
.great {
  background: url('./svg/great.svg');
}
.great.over {
  background: url('./svg/great-over.svg');
}

/* Animations */
.animated {
  -webkit-animation-duration: .95s;animation-duration: .95s;
  -webkit-animation-fill-mode: both;animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* End Animations */

/* End Quiz Questions Styles */


/* List View Styles */

/* End List View Styles */