body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input{
  border: none;
  border-bottom: solid 1px #ccc;
  margin: 10px 0;
  outline: none;
  width: 100%;
  height: 50px;
  text-indent: 5px;
  font-size: 25px;
  font-weight: 300;
}

/* Progress Bar Component Styles */
.progress {
  border-radius: 10px;
  height: 9px;
  margin: 10px 0;

  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: white;
}

.progress-bar {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress-dark-orange {
  background-color: #EA6534;
}

/* .progress-dark-green {
  
}
.progress-light-green {

}
.progress-light-orange {

} */

.progress-steps ol {
  display: flex;
  font-size: 9px;
  font-weight: 500;
  padding: 0px;
  margin: 0px 0px 0px 5px;
}

.progress-steps li {
  margin: 0px 8px;
  padding: 0 0px;
  color: #cccccc;
  text-align: left;
  width: 16%;
}

.progress-steps li .active{
  color: #333;
}

/* End Progress Bar Component Styles */




/* Animation */
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
